<?xml version="1.0" encoding="utf-8" ?>

<!-- 
    Este é o arquivo de configuração da aplicação, onde são definidas as configurações utilizadas em tempo de execução. 
    As opções configuráveis permitem que a aplicação se adapte a diferentes ambientes e preferências do usuário.

    <appSettings>:
    - Contém configurações específicas da aplicação que podem ser lidas em tempo de execução.
    
    <add key="IdiomaRegiao" value="en-US"/>:
    - Chave: "IdiomaRegiao"
        Descrição: Indica a cultura e idioma a ser utilizado pela aplicação. 
        Valor esperado: Uma string representando a cultura, como "pt-BR" para português do Brasil, 
        "en-US" para inglês dos Estados Unidos, ou "es-ES" para espanhol da Espanha.
        A aplicação usará este valor para ajustar a exibição de textos, formatações e outros comportamentos dependentes do idioma.
-->

<configuration>

	<connectionStrings>
		<clear/>
		<add name= "BD" 
		providerName="MySql.Data.MySqlClient" 
		connectionString="Server=127.0.0.1;Database=db_academia;Uid=root;Pwd=root;"/>
	</connectionStrings>

	<appSettings>
		<add key="IdiomaRegiao" value="en-US"/>
	</appSettings>
	
</configuration>